<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='about.css' />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet' />
</head>

<body>
    <main>
        <ul>
            <li><a class="active" href="futfamous">Home</a></li>
            <li><a href="edit">Edit</a></li>
            <li><a href="about">About</a></li>
        </ul>

    </main>
</body>

</html>