<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='main.css' />
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet' />
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Bem vindo(a) ao <%= title %></p>
      <a href="/futfamous">Famous Players</a>
    </main>
    <footer>
        <p>Versão <%= version %></p>
    </footer>
  </body>
</html>