@import url(https://fonts.googleapis.com/css?family=Palanquin);

body {
    background: #4568DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;

}

p {
    color: white;
    font-family: Palanquin;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    letter-spacing: 1px;
    color: white;
    text-shadow: 0 1px 2px rgb(0, 0, 0);
    margin-top: 30px;
}


img {
    border-radius: 5px;
    border: 1px solid #333;
}

.name {
    font-size: 25px;
    color: black;
    font-family: Palanquin;
    font-weight: bold;
}

.jogadores {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.container2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.icon1 {
    border: 0px;
    margin-right: 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 27px;
    text-decoration: none;
    font-family: Inter;
    font-size: large;
}

li a:hover {
    background-color: #111;
}